.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.header {
    background-color: white;
}

.sidebar {
    background-color: #4eaeed;
    color: white;
    grid-column: 1 /1;
    grid-row: 1 / 3;
}

.main-content {
    background-color: #e3e1e1;
}